<div class="top-container">
  <div class="main-container">
    <h1 class="headline">
      TODO List
    </h1>
    <div class="container mid-container">
      <input
        placeholder="Task to be done..."
        value={{this.temp}}
        {{on "input" this.onAddingElements}}
        {{on "keydown" this.handleAddKeyPress}}
      />
      <button class="add-and-del" onclick={{this.onAddClick}}>
        <b class="btn-txt">Add</b>
      </button>
    </div>

    {{#if this.todoLists}}
      <div class="last-container">
        {{#each this.todoLists as |item index|}}
          <div
            class={{concat
              "todo-item"
              (if
                (or
                  (or
                    (eq this.todoLists.length 1) (eq this.todoItemSelected item)
                  )
                  (and
                    (and
                      (not this.todoItemSelected) (gte this.todoLists.length 1)
                    )
                    (eq index 0)
                  )
                )
                " item-selected"
              )
              (if
                (includes this.deletedItems index)
                " TaskItem__title__line TaskItem__content--isChecked"
              )
            }}
            {{on "click" (fn this.onItemClick index item)}}
          >

            <button
              type="button"
              role="checkbox"
              class={{if
                (includes this.deletedItems index)
                "add-item-del"
                "abccc"
              }}
            >
              {{#if (includes this.deletedItems index)}}
                <svg width="10px" height="10px" viewBox="0 0 14 12"><path
                    fill="currentColor"
                    fill-rule="evenodd"
                    stroke="currentColor"
                    stroke-width=".4"
                    d="M4.959 9.263l6.792-8.015a.71.71 0 0 1 .995-.082c.3.249.34.69.09.984l-7.29 8.602a.706.706 0 0 1-.708.228.706.706 0 0 1-.483-.248L1.165 6.97a.694.694 0 0 1 .09-.987.712.712 0 0 1 .996.085l2.708 3.195z"
                  ></path></svg>
              {{/if}}
            </button>
            <p
              class={{concat
                "todo-text"
                (if
                  (includes this.deletedItems index)
                  " deleted TaskItem__content--isChecked"
                )
              }}
            >
              {{item}}
            </p>
          </div>
          <hr class="styled-hr" />
        {{/each}}
      </div>
    {{/if}}

  </div>

  {{#if (or this.todoItemSelected (gte this.todoLists.length 1))}}
    <div
      class={{concat
        "right-container"
        (if
          (and
            this.todoItemSelected (eq this.deletedItem this.todoItemSelected)
          )
          " add-subitem-btn_completed"
        )
      }}
    >
      <div class="container side-container">
        {{#if
          (and
            this.todoItemSelected (eq this.deletedItem this.todoItemSelected)
          )
        }}
          <button class="todo-item-btn del-btn-deleted icon-button">
            <span class="add-item-del on-item-complete">
              <div style="display:flex align-items:space-between">
                <button class="add-item-del todo-desc del-item-icon">
                  <svg width="10px" height="10px" viewBox="0 0 14 12"><path
                      fill="currentColor"
                      fill-rule="evenodd"
                      stroke="currentColor"
                      stroke-width=".4"
                      d="M4.959 9.263l6.792-8.015a.71.71 0 0 1 .995-.082c.3.249.34.69.09.984l-7.29 8.602a.706.706 0 0 1-.708.228.706.706 0 0 1-.483-.248L1.165 6.97a.694.694 0 0 1 .09-.987.712.712 0 0 1 .996.085l2.708 3.195z"
                    ></path></svg>
                </button>
                Completed
              </div>
            </span>
          </button>
        {{else}}
          <button
            class="todo-item-btn del-btn"
            {{on "click" this.onDeleteClick}}
          >
            Mark as complete
          </button>
        {{/if}}
        <h1>
          {{#if
            (and (not this.todoItemSelected) (gte this.todoLists.length 1))
          }}
            {{this.todoLists.[0]}}
          {{else}}
            {{this.todoItemSelected}}
          {{/if}}
        </h1>
        <div class="item-headline-container">
          <button
            class={{concat
              "todo-item-btn"
              (if
                (and
                  this.todoItemSelected
                  (eq this.deletedItem this.todoItemSelected)
                )
                " add-subitem-btn_completed"
              )
            }}
            {{on "click" this.onRemindBtnClick}}
          >
            <span
              class={{concat
                "cA1YqBj5UcmbLNiEwbWJ"
                (if
                  (and
                    this.todoItemSelected
                    (eq this.deletedItem this.todoItemSelected)
                  )
                  " add-subitem-btn_completed"
                )
              }}
            ><svg
                xmlns="http://www.w3.org/2000/svg"
                width="18"
                height="18"
                fill="none"
                viewBox="0 0 18 18"
              ><path
                  stroke="currentColor"
                  stroke-linecap="round"
                  stroke-linejoin="round"
                  stroke-width="1.4"
                  d="M13.5 6.45c0-2.32-2.015-4.2-4.5-4.2s-4.5 1.88-4.5 4.2c0 4.9-2.25 6.3-2.25 6.3h13.5s-2.25-1.4-2.25-6.3M11.25 15.75c-.388.464-1.102.75-1.875.75-.773 0-1.487-.286-1.875-.75"
                ></path></svg></span>
            Remind me
          </button>
          {{!-- <button
            class={{concat
              "todo-item-btn"
              (if
                (and
                  this.todoItemSelected
                  (eq this.deletedItem this.todoItemSelected)
                )
                " add-subitem-btn_completed"
              )
            }}
          >
            <span
              class={{concat
                "nqA3rO0TmHImTKckKNaF"
                (if
                  (and
                    this.todoItemSelected
                    (eq this.deletedItem this.todoItemSelected)
                  )
                  " add-subitem-btn_completed"
                )
              }}
            ><svg
                xmlns="http://www.w3.org/2000/svg"
                width="18"
                height="18"
                viewBox="3 3 18 18"
              ><defs><path
                    id="svg-3041701476-__a"
                    d="M17.2 3.2a2.4 2.4 0 0 1 2.4 2.4v12.8a2.4 2.4 0 0 1-2.4 2.4H7.6a2.4 2.4 0 0 1-2.4-2.4V5.6a2.4 2.4 0 0 1 2.4-2.4zm0 1.6H7.6a.8.8 0 0 0-.8.8v12.8a.8.8 0 0 0 .8.8h9.6a.8.8 0 0 0 .8-.8V5.6a.8.8 0 0 0-.8-.8zm-1.6 10.4a.8.8 0 0 1 .1 1.594l-.1.006H9.2a.8.8 0 0 1-.1-1.594l.1-.006h6.4zm0-3.2a.8.8 0 0 1 .1 1.594l-.1.006H9.2a.8.8 0 0 1-.1-1.594L9.2 12h6.4zm-4.8-3.2a.8.8 0 0 1 .1 1.594l-.1.006H9.2a.8.8 0 0 1-.1-1.594l.1-.006h1.6z"
                  ></path></defs><use
                  xlink:href="#svg-3041701476-__a"
                  fill="currentColor"
                  fill-rule="nonzero"
                ></use></svg></span>
            Personal
          </button>
          <button
            class={{concat
              "todo-item-btn"
              (if
                (and
                  this.todoItemSelected
                  (eq this.deletedItem this.todoItemSelected)
                )
                " add-subitem-btn_completed"
              )
            }}
          >
            <span
              class={{concat
                "SKenCKUAuih341mv2tje"
                (if
                  (and
                    this.todoItemSelected
                    (eq this.deletedItem this.todoItemSelected)
                  )
                  " add-subitem-btn_completed"
                )
              }}
            ><svg
                xmlns="http://www.w3.org/2000/svg"
                width="16"
                height="16"
                fill="none"
                viewBox="0 0 16 16"
              ><path
                  stroke="currentColor"
                  stroke-linecap="round"
                  stroke-linejoin="round"
                  stroke-width="1.2"
                  d="M2.727 6H14M11 2.5l-2 11M7 2.5l-2 11M2 10h11.273"
                ></path></svg></span>
            Tags
          </button> --}}
        </div>
        {{#if this.isReminderOpen}}
          <div class="abc">
            <div>
              <h2 class="reminder-title">Reminder</h2>
            </div>
            <div class="item-headline-container">
              <h3>
                Date
              </h3>
              <h3>
                Time
              </h3>
            </div>
            <div class="item-headline-container">
              <input
                class="date-and-time-input"
                value={{moment-format-date this.selectedDate}}
              />
              <input
                class="date-and-time-input"
                value={{moment-format-time this.selectedDate}}
              />
            </div>
            <PowerCalendar
              @selected={{this.selectedDate}}
              @onSelect={{this.handleOnSelect}}
              @disabled={{this.isDisabled}}
              as |calendar|
            >
              <calendar.Nav />
              <calendar.Days />
            </PowerCalendar>
            <div class="item-headline-container">
              <button>
                <h3>
                  Cancel
                </h3>
              </button>
              <button>
                <h3 style="color: cornflowerblue;">
                  Set
                </h3>
              </button>
            </div>
          </div>
        {{/if}}
        <div>
          <h4>NOTES</h4>
          <textarea
            value={{get this.notes this.selectedItemIndex}}
            {{on "input" (fn this.updateNotes)}}
            placeholder="Insert your notes here"
            style="height: 21px;"
          >
          </textarea>
          <h4>SUBTASKS</h4>
          {{#each-in this.itemContents as |key subItems|}}
            {{#if (eq (to-string key) (to-string this.selectedItemIndex))}}

              <div class="last-container last-subcontainer">
                {{#each subItems as |item index|}}
                  <div
                    class={{concat
                      "todo-item"
                      (if
                        (includes this.deletedSubItems index)
                        " TaskItem__title__line TaskItem__content--isChecked"
                      )
                    }}
                    {{!-- {{on "click" (fn this.onSubItemClick index item)}} --}}
                  >

                    <button
                      type="button"
                      role="checkbox"
                      class="sub-items
                        {{if
                          (includes this.deletedSubItems index)
                          'add-item-del'
                          'abccc'
                        }}"
                      {{on "click" (fn this.onSubItemDeleteClick index item)}}
                    >
                      {{#if (includes this.deletedSubItems index)}}
                        <svg
                          width="10px"
                          height="10px"
                          viewBox="0 0 14 12"
                        ><path
                            fill="currentColor"
                            fill-rule="evenodd"
                            stroke="currentColor"
                            stroke-width=".4"
                            d="M4.959 9.263l6.792-8.015a.71.71 0 0 1 .995-.082c.3.249.34.69.09.984l-7.29 8.602a.706.706 0 0 1-.708.228.706.706 0 0 1-.483-.248L1.165 6.97a.694.694 0 0 1 .09-.987.712.712 0 0 1 .996.085l2.708 3.195z"
                          ></path></svg>
                      {{/if}}
                    </button>
                    <p
                      class={{concat
                        "todo-text"
                        (if
                          (includes this.deletedSubItems index)
                          " deleted TaskItem__content--isChecked"
                        )
                      }}
                    >
                      {{item}}
                    </p>
                  </div>
                {{/each}}
              </div>
            {{/if}}
          {{/each-in}}

          <input
            placeholder="Add a new subtask"
            value={{this.subItem}}
            {{on "input" this.onSubItemInput}}
            {{on "keydown" this.handleKeyPress}}
          />
        </div>
      </div>
    </div>
  {{/if}}
</div>